MONGODB_URI='mongodb://localhost'
MONGODB_DB='ctfwriteups-dev'
COOKIE_STORE_SECRET=fake4567890123456789012345678901
OAUTH_GITHUB_ID='abc123'
OAUTH_GITHUB_SECRET='abc123'
OAUTH_GOOGLE_ID='abc123'
OAUTH_GOOGLE_SECRET="abc123"
WEB_ORIGIN='https://ctfwriteups.org'
API_ORIGIN='https://ctfwriteups.org'
MAILGUN_API_KEY='abc123'